.authPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .form {
    width: 100%;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--bg, #fff);
    border: 1px solid var(--stroke, #e5e7eb);
    border-radius: 1rem;
    box-shadow:
      0 10px 15px -3px var(--shadow, rgba(0, 0, 0, 0.1)),
      0 4px 6px -4px var(--shadow, rgba(0, 0, 0, 0.1));

    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
    }

    .icon {
      width: 3rem;
      height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-primary, #155dfc);
      border-radius: 100%;
      margin-bottom: 1rem;

      svg {
        color: var(--icon, #fff);
      }
    }

    h2 {
      margin-bottom: 0.25rem;
    }

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
