@import 'tailwindcss';

@config "../../tailwind.config.js";

@layer base {
  body {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family:
      ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}
